<div class="header"> 
  <div class="logo">
    <a href="/"><b>Order App</b></a>
  </div>
  <div class="header-btn">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname + " さんようこそ" ,'/',class:"login-nickname" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout-btn"%>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class:"logout-btn" %>
      <%= link_to 'ログイン', new_user_session_path, class:"logout-btn" %>
    <% end %>
  </div>
  <div class="menu-bar">
    <ul class="menu-elements">
      <li id="menu1">
        発注管理
        <ul class="menu1-lists hidden" id="menu1-pull-down">
          <li><%= link_to '発注予定一覧' ,'/' %></li>
          <li><%= link_to '発注済み一覧' ,'/' %></li>
        </ul>
      </li>
      <li id="menu2">
        業者管理
        <ul class="menu2-lists hidden" id="menu2-pull-down">
          <li><%= link_to '業者登録' ,'/' %></li>
          <li><%= link_to '業者一覧' ,capacities_path %></li>
        </ul>
      </li>
      <li id="menu3">
        メモ管理
        <ul class="menu3-lists hidden" id="menu3-pull-down">
          <li><%= link_to 'メモ作成' ,new_memo_path %></li>
          <li><%= link_to 'メモ一覧' ,'/' %></li>
        </ul>
      </li>
      <li id="menu4">
        ユーザー管理
        <ul class="menu4-lists hidden" id="menu4-pull-down">
          <li><%= link_to 'ユーザー一覧' ,'/' %></li>
            <% if user_signed_in? && current_user.admin? %>
              <li><%= link_to 'ユーザー登録' ,'/', class: "post" %></li>
              <li><%= link_to 'ユーザー編集' ,'/', class: "post" %></li>
            <% end %>
        </ul>
      </li>   
    </ul>
  </div>
</div>