<div class="header"> 
  <div class="logo">
    <a href="/"><b>Order App</b></a>
  </div>
  <div class="header-btn">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname + " さんようこそ" ,'/',class:"login-nickname" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout-btn"%>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class:"logout-btn" %>
      <%= link_to 'ログイン', new_user_session_path, class:"logout-btn" %>
    <% end %>
  </div>
  <div class="menu-bar">
    <ul class="menu-elements">
      <li id="menu1">
        発注管理
        <ul class="menu1-lists hidden" id="menu1-pull-down">
          <li>リスト1</li>
          <li>リスト2</li>
          <li>リスト3</li>
          <li>リスト4</li>
        </ul>
      </li>
      <li id="menu2">
        業者管理
      </li>
      <li id="menu3">
        <%= link_to 'メモ作成' ,new_memo_path %>
      </li>
    </ul>
  </div>
</div>