<%= render "shared/header" %>

require 'date'

<div class="contents">
  <div class="contents row">
    <p>発注一覧</p>
    <table border="1" style="border-collapse: collapse;">
      <thead>
        <tr>
          <th>AP番号</th>
          <th>号室</th>
          <th>郵便番号</th>
          <th>住所</th>
          <th>業者コード</th>
          <th>業者名</th>
          <th>発注番号</th>
          <th>ステータス</th>
          <th>発注日</th>
          <th>納期</th>
          <th>遅延日数</th>
          <th>キャパシティ</th>
          <th>備考</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
        <div class="content_post" >
          <tr>
            <th><%= order.apartment[:apartment_number] %></th>
            <th><%= order.apartment[:room_number] %></th>
            <th><%= order.apartment[:postal_code] %></th>
            <th><%= order.apartment[:address] %></th>
            <th><%= order.apartment[:client_number] %></th>
            <th><%= order.apartment[:client_name] %></th>
            <th><%= order.order_number %></th>
            <th><%= order.status %></th>
            <th><%= order.order_date %></th>
            <th><%= order.deadline_date %></th>

            <% if order.status == "完了" || (Date.current - order.deadline_date).to_i < 0 %>
              <th><%= 0 %></th>
            <% else %>
              <th><span><%= (Date.current - order.deadline_date).to_i %></span></th>
            <% end %>

            <%# <th><%= order join capacites on orders.client_number = capacities.client_number %></th>
            <%# hoges join foos on hoges.last_foo = foos.no %>
            <%# User.left_outer_joins(:posts) %>

          </tr>
        </div>
      <% end %>
    </table>
  </div>
</div>

<%= render "shared/footer" %>