<%= render "shared/header" %>

<div class="contents">
  <div class="contents row">
    <p>物件検索</p>
    
    <div class="address_box">
      <input id="address" type="textbox" value="地名入力">
      <input type="button" value="更新" onclick="codeAddress()">
    </div>
    
        <div id='map'></div>

        <script>
        let map

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.667379, lng:139.7054965},
            zoom: 16,
          });

          marker = new google.maps.Marker({
            position:  {lat: 35.667379, lng:139.7054965},
            map: map
          });
        }
        
        let geocoder

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });   
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
  </div>

  <div class="contents row">
    <p>未発注物件一覧</p>
    <table border="1" style="border-collapse: collapse;">
      <thead>
        <tr>
          <th>AP番号</th>
          <th>号室</th>
          <th>郵便番号</th>
          <th>住所</th>
          <th>業者コード</th>
          <th>業者名</th>
        </tr>
      </thead>
      <% @not_orderings.each do |not_ordering| %>
        <div class="content_post" >
          <tr>
            <th><%= not_ordering.apartment[:apartment_number] %></th>
            <th><%= not_ordering.apartment[:room_number] %></th>
            <th><%= not_ordering.apartment[:postal_code] %></th>
            <th><%= not_ordering.apartment[:address] %></th>
            <th><%= not_ordering.apartment[:client_number] %></th>
            <th><%= not_ordering.apartment[:client_name] %></th>
          </tr>
        </div>
      <% end %>
    </table>
  </div>

</div>

<%= render "shared/footer" %>