<%= render "shared/header" %>

<div class="post-memo-form">
  <%= form_with(model: @memo, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <p><%= f.label :title, 'メモ名' %><span>（必須・20文字以内）</span></p>
    <%= f.text_field :title, class:"new-memo-title", placeholder: "メモ名" %>
    <p><%= f.label :memo, 'メモの内容' %><span>（必須）</span></p>
    <%= f.text_area :memo, class:"new-memo-content", placeholder: "メモの内容" %>
    <%= f.submit "修正", class:"new-memo-submit_btn" %>
  <% end %>
</div>

<%= render "shared/footer" %>