<%= render "shared/header" %>

<div class="main-contents">
  <div class="memos">
    <% @memos.each do |memo| %>
        <p class="memo-title">
          <%= memo.title %>
        </p>
        <p class= "memo-content">
          <%= memo.memo%>
        </p>
        <div class="memo-information">
          <p class="memo-post-date">
            <%= memo.created_at.strftime("%Y年 %m月 %d日") %>
          </p>
          <p class="memo-name">
            <%= memo.user.nickname %>
          </p>
          <div class="memo-check">
            <% if user_signed_in? && current_user.id == memo.user_id %>
              <div class="memo-check-button" >
                <%= link_to '編集', edit_memo_path(memo.id), method: :get %>
              </div>
              <div class="memo-check-button" >
                <%= link_to '削除', memo_path(memo.id), method: :delete %>
              </div>
            <% end %>
          </div>
        </div>

    <% end %>
  </div>
</div>
<%= render "shared/footer" %>